* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --container-max-width: 1720px;
  --container-padding: 100px;
  --header-height: 100px;
  --logo-height: 157px;
  --logo-height-scroll: 100px;
  --transition: 0.4s ease;
  --bg-left: #000e38;
  --bg-right: #3f186a;
}

.container {
  width: min(
    var(--container-max-width),
    calc(100% - (var(--container-padding) * 2))
  );
  margin-inline: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  position: fixed;
  inset: 0 0 auto 0;
  height: var(--header-height);
  background-color: white;
}

.header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to left, var(--bg-right), var(--bg-left));
  opacity: 0;
  transition: all var(--transition);
  z-index: -1;
}

.header--scrolled::before {
  opacity: 1;
}

.header__logo {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.header__logo img {
  display: block;
  position: absolute;
  top: 2px;
  height: var(--logo-height);
  width: auto;
  transition: all var(--transition);
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

.btn {
  padding: 14px 28px;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: all var(--transition);
}

.header__cta {
  background: #0057b8;
  color: white;
}

.header--scrolled .header__logo img {
  height: var(--logo-height-scroll);
}

.header--scrolled .header__cta {
  background: white;
  color: #0057b8;
}

/* Large Desktop */
@media (max-width: 1400px) {
  :root {
    --container-padding: 80px;
  }
}

/* Laptop */
@media (max-width: 1200px) {
  :root {
    --container-padding: 60px;
  }
}

/* Tablet Landscape */
@media (max-width: 992px) {
  :root {
    --container-padding: 40px;
  }
}

/* Tablet Portrait */
@media (max-width: 768px) {
  :root {
    --container-padding: 24px;
    --header-height: 60px;
    --logo-height: 80px;
    --logo-height-scroll: 60px;
  }
  .btn {
    padding: 10px 18px;
    font-size: 14px;
  }
}

/* Large Mobile */
@media (max-width: 576px) {
  :root {
    --container-padding: 20px;
    --header-height: 60px;
    --logo-height: 80px;
    --logo-height-scroll: 60px;
  }

  .btn {
    padding: 9px 16px;
    font-size: 13px;
  }
}

/* Small Mobile */
@media (max-width: 375px) {
  :root {
    --container-padding: 16px;
    --header-height: 60px;
    --logo-height: 80px;
    --logo-height-scroll: 60px;
  }

  .btn {
    padding: 8px 14px;
    font-size: 12px;
  }
}
