@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap");
@font-face {
  font-family: "Museo Sans";
  src:
    url("../fonts/MuseoSans-700.woff2") format("woff2"),
    url("../fonts/MuseoSans-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Font Families */
  --font-open-sans: "Open Sans", sans-serif;
  --font-archivo: "Archivo", sans-serif;
  --font-museo: "Museo Sans", sans-serif;

  /* Semantic Font Usage */
  --font-primary: var(--font-open-sans);
  --font-heading: var(--font-archivo);
  --font-highlight: var(--font-museo);

  /* size */
  --container-max-width: 1720px;
  --container-padding: 100px;
  --header-height: 100px;
  --logo-height: 157px;
  --logo-height-scroll: 100px;

  /* animation */
  --transition: 0.4s ease;

  /* color */
  --bg-left: #000e38;
  --bg-right: #3f186a;
  --action: #ffcc81;
}
body {
  font-family: var(--font-primary);
}
.navbar_gap {
  height: 100px;
}

.container {
  width: min(
    var(--container-max-width),
    calc(100% - (var(--container-padding) * 2))
  );
  margin-inline: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  position: fixed;
  inset: 0 0 auto 0;
  height: var(--header-height);
  background-color: white;
  z-index: 999;
}

.header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to left, var(--bg-right), var(--bg-left));
  opacity: 0;
  transition: all var(--transition);
  z-index: -1;
}

.header_scrolled::before {
  opacity: 1;
}
.header_scrolled {
  border-bottom: 1px solid rgb(0, 0, 107);
}
.header_btn_scroll,
.header_scrolled .header_btn {
  display: none;
}
.header_scrolled .header_btn_scroll {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  color: var(--bg-left);
  padding: 14px 28px;
  background-color: white;
}

.header_logo {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.header_logo img {
  display: block;
  position: absolute;
  top: 2px;
  height: var(--logo-height);
  width: auto;
  transition: all var(--transition);
}

.header_scrolled .header_logo img {
  height: var(--logo-height-scroll);
}

.header_btn_sec {
  display: flex;
  align-items: center;
  gap: 24px;
}

.btn {
  border: none;
  font-family: var(--font-primary);
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: all var(--transition);
  overflow: hidden;
  background-color: transparent;
}

.header_btn {
  height: 60px;
  width: 205px;
  color: var(--bg-left);
  border-image: linear-gradient(
      to right,
      var(--bg-right) 0%,
      var(--bg-left) 100%
    )
    1;
  border-width: 4px;
  border-style: solid;
  position: relative;
}
.header_btn_content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.header_btn_bg {
  width: 60px;
  height: 100%;
  background: linear-gradient(to right, var(--bg-right), var(--bg-left));
  position: absolute;
  transition: all var(--transition);
  z-index: -1;
}
.header_btn_content_text {
  text-transform: uppercase;
}
.header_btn:hover .header_btn_bg {
  transition: all var(--transition);
  width: 100%;
}
.header_btn:hover .header_btn_content_text {
  transition: all var(--transition);
  color: white;
}
.header_btn:hover .header_btn_content_img {
  transition: all var(--transition);
  rotate: 45deg;
}

.header_btn_content_img {
  transition: all var(--transition);
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_btn_content_text {
  flex: 1;
}

/* hero section */
.hero {
  background: linear-gradient(to left, var(--bg-right), var(--bg-left));
  height: calc(100vh - 100px);
}
.hero_sec {
  height: calc(100vh - 100px);
  width: 100%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  overflow: hidden;
}

.hero_content,
.hero_form {
  align-items: center;
  display: flex;
  padding: 40px 0;
}

.hero_content {
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.hero_content_text {
  color: var(--action);
}
.hero_content_text h2 {
  font-size: 40px;
}
.hero_content_text h1 {
  font-size: 52px;
}
.hero_content_text h3 {
  font-size: 32px;
}

.hero_content_box {
  width: 100%;
  background-color: var(--action);
  color: var(--bg-left);
  border-radius: 999px;
  display: flex;
  gap: 8px;
  padding: 24px;
  position: relative;
}
.hero_content_box::before {
  content: "";
  position: absolute;
  inset: 6px;
  border: 2px solid rgba(128, 128, 128, 0.301);
  border-radius: inherit;
  pointer-events: none;
}
.hero_content_box span {
  width: 2px;
  background-color: rgba(128, 128, 128, 0.301);
}

.hero_content_box div {
  text-align: center;
}
.hero_content_box h1 {
  font-size: 22px;
}
.hero_content_box p {
  font-size: 16px;
}

.hero_img {
  height: calc(100vh - 100px);
  display: flex;
  gap: 24px;
  align-items: start;
  justify-content: start;
  position: relative;
}

.hero_img img {
  flex: 1;
  width: 13%;
  animation: scroll-up 8s linear infinite;
}

@keyframes scroll-up {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-50%));
  }
}

.hero_form {
  padding-left: 40px;
  width: 100%;
}
.hero_form .hero_form_sec {
  width: 100%;
  padding: 24px;
  background: #000e382d;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: white;
}
.hero_form_sec_form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.hero_form_sec_form > * {
  background-color: var(--bg-right);
  border: none;
  outline: none;
  padding: 12px 16px;
  border-radius: 8px;
  font-family: var(--font-primary);
  font-size: 18px;
  color: white;
}

.hero_form_btn {
  height: 60px;
  width: 205px;
  color: var(--bg-left);
  border-color: white;
  border-width: 4px;
  border-style: solid;
  position: relative;
}
.hero_form_btn_content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
}
.hero_form_btn_bg {
  width: 60px;
  height: 100%;
  background: white;
  position: absolute;
  transition: all var(--transition);
  z-index: 1;
}
.hero_form_btn:hover .hero_form_btn_bg {
  transition: all var(--transition);
  width: 100%;
}
.hero_form_btn_content_text {
  text-transform: uppercase;
  z-index: 3;
  flex: 1;
}
.hero_form_btn:hover .hero_form_btn_content_text {
  transition: all var(--transition);
  color: var(--bg-right);
}
.hero_form_btn:hover .hero_form_btn_content_img {
  transition: all var(--transition);
  rotate: 45deg;
}

.hero_form_btn_content_img {
  transition: all var(--transition);
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

/* card */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  width: 90%;
  margin: 0 auto;
  color: var(--bg-left);
  padding: 60px 0;
}
.card img {
  width: 100%;
}
.card {
  position: relative;
}
.card div {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  padding-bottom: 20px;
}
.card div h1 {
  font-size: 24px;
}
.card div p {
  font-size: 18px;
}

/* Large Desktop */
@media (max-width: 1400px) {
  :root {
    --container-padding: 80px;
  }
}

/* Laptop */
@media (max-width: 1200px) {
  :root {
    --container-padding: 60px;
  }

  .hero_content_text h2 {
    font-size: 36px;
  }

  .hero_content_box span {
    width: 100%;
    height: 2px;
  }

  .hero_content_box {
    flex-direction: column;
  }

  .hero_content_text h1 {
    font-size: 48px;
  }

  .hero_content_text h3 {
    font-size: 30px;
  }

  .cards {
    width: 90%;
  }
}

/* Tablet Landscape */
@media (max-width: 992px) {
  :root {
    --container-padding: 40px;
    --header-height: 90px;
    --logo-height: 130px;
    --logo-height-scroll: 90px;
  }

  .navbar_gap {
    height: 90px;
  }

  /* hero */

  .hero {
    height: calc(110vh);
  }

  .hero {
    background: linear-gradient(to left, var(--bg-right), var(--bg-left));
    overflow: hidden;
  }
  .hide_mobile {
    display: none;
  }
  .hero_img {
    overflow: hidden;
  }
  .hero_sec {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .hero_content {
    padding: 30px 20px;
    /* justify-content: start; */
    align-items: start;
  }
  .hero_content_text h2 {
    font-size: 32px;
  }

  .hero_content_text h1 {
    font-size: 42px;
  }

  .hero_content_text h3 {
    font-size: 26px;
  }
  .hero_form {
    padding: 30px 0;
  }
  .hero_form .hero_form_sec {
    padding: 16px;
    gap: 16px;
  }
  .hero_form_sec_form {
    gap: 8px;
  }
  .hero_form_sec_form > * {
    padding: 8px 12px;
    border-radius: 8px;
    font-family: var(--font-primary);
    font-size: 14px;
    color: white;
  }

  /* card */
  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 40px 0;
    width: 70%;
  }
}

/* Tablet Portrait */
@media (max-width: 768px) {
  :root {
    --container-padding: 24px;
    --header-height: 80px;
    --logo-height: 110px;
    --logo-height-scroll: 80px;
  }
  .btn {
    font-size: 14px;
  }

  .navbar_gap {
    height: 80px;
  }

  .header_scrolled .header_btn_scroll {
    padding: 12px 22px;
  }

  .header_btn {
    height: 50px;
    width: 180px;
  }
  .header_btn_bg {
    width: 50px;
  }
  .header_btn_content_img {
    width: 50px;
  }

  .hero_content_text h2 {
    font-size: 28px;
  }

  .hero_content_text h1 {
    font-size: 36px;
  }

  .hero_content_text h3 {
    font-size: 22px;
  }
  .hero_form_btn {
    height: 50px;
    width: 180px;
  }
  .hero_form_btn_bg {
    width: 50px;
  }
  .hero_form_btn_content_img {
    width: 50px;
  }

  /* card */
  .cards {
    padding: 30px 0;
    width: 70%;
  }

  .card div h1 {
    font-size: 20px;
  }

  .card div p {
    font-size: 14px;
  }
}

/* Large Mobile */
@media (max-width: 576px) {
  :root {
    --container-padding: 20px;
    --header-height: 70px;
    --logo-height: 100px;
    --logo-height-scroll: 70px;
  }

  .btn {
    font-size: 13px;
  }

  .navbar_gap {
    height: 70px;
  }

  .header_scrolled .header_btn_scroll {
    padding: 10px 18px;
  }

  .header_btn {
    height: 40px;
    width: 150px;
  }
  .header_btn_bg {
    width: 40px;
  }
  .header_btn_content_img {
    width: 40px;
  }

  .hero_content_text h2 {
    font-size: 24px;
  }

  .hero_content_text h1 {
    font-size: 30px;
  }

  .hero_content_text h3 {
    font-size: 20px;
  }
  .hero_form_btn {
    height: 40px;
    width: 150px;
  }
  .hero_form_btn_bg {
    width: 40px;
  }
  .hero_form_btn_content_img {
    width: 40px;
  }
  .hero_content {
    padding: 30px 20px;
  }
  .hero_form {
    padding: 30px 0px;
  }

  /* card */
  .cards {
    width: 90%;
  }
  .card div h1 {
    font-size: 18px;
  }

  .card div p {
    font-size: 12px;
  }
}

/* Small Mobile */
@media (max-width: 375px) {
  :root {
    --container-padding: 16px;
    --header-height: 60px;
    --logo-height: 80px;
    --logo-height-scroll: 60px;
  }

  .btn {
    font-size: 12px;
  }

  .navbar_gap {
    height: 60px;
  }
}
